$color1: #3397e2;
$color2: #fbd341;
$color3: #000000;
$color4: #fff;
$color5: #22334d;
$color6: #e1e0e0;
$color7: rgba(51, 151, 226, .8);
$color8: rgba(0, 0, 0, .3);
$color9: rgba(1, 73, 128, .5);
$color10: #f8f7f7;
$color11: #898989;
$color12: #2f2f2f;
$color13: rgba(1, 73, 128, .7);
$color14: rgba(0, 0, 0, .6);
$color15: #30d5c8;
$icon: 'icomoon';
$border: 1px solid #898989;
$fira:'Fira Sans', sans-serif;